* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

div.a{
    border: solid 1px none;
    width: 80%;
    height: 120px;
    display: block;
    margin: 0% 10% 0% 10%;
    }
div.a1{
    border: solid 1px none;
    width:40%;
    height:100%;
    float: left;
    margin-top:1.6%;
    }
div.a1a{
    float: left;
    width:15%;
    margin-top: 1%;
    }
div.a1b{
    border: solid 1px none;
    float: left;
    width: 85%;
    height:100%;
    }
div.a1b1{
    border: solid 1px none;
    display: block;
    height:50%;
    width: 100%;
    }
div.a1b11{
    border: solid 1px none;
    float: left;
    height:100%;
    font-size: 16px;
    color: #f04c4e;
    }
div.a1b12{
    border: solid 1px none;
    float: left;
    font-size: 16px;
    height:100%;
    color: #443f3f;
    }        
div.a1b2{
    border: solid 1px none;
    display: block;
    height:50%;
    width: 100%;
    font-size: 10px;
    padding:0%,0%,10%,0%;
    }
div.a3{
    border: solid 1px none;
    width:60%;
    height:100%;
    float: left;
    }
div.a31{
    border: solid 1px #f04c4e ;
    width:18%;
    height:28%;
    float: left;
    color: #e84c4f;
    background-color: white;
    margin:8% 0% 10% 57%;
    padding: 0.8% 0% 0% 5.5%;
    font-size: 15px;
    }
div.a32{
    width:18%;
    height:28%;
    float: left;
    margin:8% 0% 12% 2.3%; 
    color: white;
    background-color:#F04C4E;
    padding: 1.2% 0% 0% 3.5%;
    font-size:14px;
    }
div.b{
    border: solid 1px none;
    width: 100%;
    height: 1300px;
    display: block;
    background-color:#f7f7f7;
    }
div.b1{
    border: solid 2px #edeaea;
    width: 66%;
    height: 220px;
    display: block;
    margin:0% 0% 0% 17%;
    background-color: white;
    }
div.b11{
    border: solid 1px none;
    width:100%;
    display: block;
    padding: 0% 0% 0% 5%;
    font-family: sans-serif;
    color: #443f3f;
    }
div.b12{
    border: solid 1px none;
    width: 90%;
    display: block;
    margin:0% 5% 0% 5%;
    font-family: sans-serif;
    }
div.b13{
    border: solid 1px none;
    width: 40%;
    float: right;
    margin: 0% 0% 0% 5%;
    font-style: italic;  
    }
div.b2{
    border: solid 2px #edeaea;
    width: 66%;
    height: 220px;
    display: block;
    margin:2.5% 0% 0% 17%;
    background-color: white;
    }

div.c{
    float: left;
    border: solid 0px black;
    height: 200px;
    width: 100%;
    background-color: #373737;
}
div.c1{
    float: left;
    border: solid 0px black;
    height: 100%;
    width: 50%;
}
div.c1a{
    float: left;
    border: solid 0px black;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    height: 50%;
    width: 100%;
    padding: 5% 10% 0% 22%;
    color: white;
}
     
div.c1b{
    float: left;
    height: 50%;
    border: solid 0px black;
    width: 28%;
    padding: 0% 0% 0% 22%;
    margin-top: -6px;
}    
div.c1c{
    float: left;
    height: 50%;
    border: solid 0px black;
    width: 72%;
    margin-top: -10px ;
}    
div.c2{
    float: left;
    border: solid 0px black;
    height: 100%;
    width: 50%;
}
div.c2a{
    float: left;
    border: solid 0px black;
    font-size: 20;
    height: 50%;
    width: 100%;
    padding: 7% 3% 0% 30%;
    color: white;
}
div.c2b{
    float: left;
    border: solid 0px black;
    font-size: 20px;    
    height: 50%;
    width: 100%;
    padding: 0% 0% 0% 37%;
    color: white;
    margin-top: -35px;
}
