* {
    box-sizing: border-box;
}

div.a{
    border: solid 1px none;
    width: 100%;
    height: 140px;
    display: block;
    }
div.a1{
    border: solid 1px none;
    width:33.33%;
    height:90%;
    float: left;
    margin:1% 0% 0% 0%;
    }
div.a1a{
    border: solid 1px none;
    float: left;
    height:80%
    width: 18%;
    padding:0% 0% 0% 17%;
    }
div.a1b{
    border: solid 1px none;
    float: left;
    height:35%;
    width: 5%;
    color: red;
    }
div.a1c{
    border: solid 1px none;
    float: left;
    height:35%;
    width: 50%;
    }    
div.a1d{
    border: solid 1px none;
    float: right;
    height:40%;
    width: 69%;
    margin:0% 0% 10% 0%;
    font-size:10px;
    }
div.a2{
    border: solid 1px none;
    width:33.33%;
    height:100%;
    float: left;
    }
div.a3{
    border: solid 1px none;
    width:33.33%;
    height:100%;
    float: left;
    }
div.a31{
    border: solid 1px none;
    width:30%;
    height:35%;
    float: right;
    margin:10%;
    padding:3% 2% 2.5% 5%;
    background-color:#F04C4E;
    color: white;
    }
div.a32{
    border: solid 1px #f04c4e ;
    width:30%;
    height:35%;
    float: right;
    margin:10% -5% 10% 10%;
    padding:3% 4% 2.5% 9%;
    color:#F04C4E;
    }
div.b{
    border: solid 1px none;
    width: 100%;
    height: 1300px;
    display: block;
    background-color:#f7f7f7;
    }
div.b1{
    border: solid 2px #edeaea;
    width: 60%;
    height: 220px;
    display: block;
    margin:0% 0% 0% 20%;
    background-color: white;
    }
div.b11{
    border: solid 1px none;
    width:100%;
    display: block;
    padding: 0% 0% 0% 5%;
    }
div.b12{
    border: solid 1px none;
    width: 90%;
    display: block;
    margin:0% 5% 0% 5%;
    }
div.b13{
    border: solid 1px none;
    width: 40%;
    float: right;
    margin: 0% 0% 0% 5%;
    font-style: italic;  
    }
div.b2{
    border: solid 2px #edeaea;
    width: 60%;
    height: 220px;
    display: block;
    margin:2.5% 0% 0% 20%;
    background-color: white;
    }
div.c{
    border: solid 1px black;
    width: 100%;
    height: 250px;
    display: block;
    }
