*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    margin:0px;
}

div.a{
    height:200px;
    border: solid 2px none;
}
div.a1{
    height:100%;
    width:20%;
    margin: auto;
    border: solid 2px none;
}
div.a11{
    height:100%;
    width:20%;
    float: left;
    padding-top:55px;
    border: solid 2px none;
}
div.a12{
    height:100%;
    width:80%;
    float: left;
    padding-top: 70px;
    border: solid 2px none;
}
h1.a13{
    margin:0px;
    font-size:45px;
}
.a12{
    margin:0px;
}
p.a12{
    font-size:15px;
}
div.c{
    height:200px;
    background-color:rgb(55,55,55);
    border: solid 2px black;
}
div.b{
    height:1200px;
    margin-top: 0px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom:0px;
    background-color: rgb(244,244,244);
    border : solid 0.5px rgb(244,244,244);
}
div.b1{
    height:100px;
    background-color: white;
    border: solid 0.5px rgb(244,244,244);
}
div.b2{
    height:800px;
    background-color:rgb(244,244,244);
    padding-right:80px;
    padding-left:100px;
    border: solid 0.5px rgb(244,244,244);
}
div.b12{
    width:50%;
    padding-left:170px;
    padding-top:0px;
    height:100%;
    float: left;
    border: solid 0.5px white;
}
div.b13{
    width:50%;
    padding-left:100px;
    padding-top:30px;
    height:100%;
    float: left;
    border: solid 0.5px white;
}
div.b23{
    height:20%;
    margin-top:20px;
    border: solid 2px rgb(244,244,244);
}
div.b24{
    height:15%;
    margin-top:20px;
    border: solid 2px rgb(244,244,244);
}
div.b25{
    height: 8%;
    margin-top:20px;
    border: solid 2px rgb(244,244,244);
}
div.b241{
    border: solid 1px rgb(244,244,244);
}
div.b242{
    height:40%;
    border: solid 1px red;
}

p.b12{
    font-size: 30px;
    color: black;
}
a.b13{
    color: rgb(207,44,47);
    padding-top:40px;
    padding-left:10px;
    font-size:30px;
}
h1.b23{
    font-size :40px;
}

p.b241{
    font-size:20px;
    font-weight: bold;
}
input{
    height:100%;
    width:100%;
}
input.b25{
    background-color: rgb(240,66,67);
    color: white;
    font-size:20px;
}
a.b25{
    color: red;
    font-size:20px;
    padding-top:10%;
}
div.c1{
    float: left;
    height:100%;
    width:50%;
    border: solid 2px rgb(55,55,55); 
}
p.c1{
    color: white;
    margin: 0px;
    font-size:20px;
}
p.c2{
    color: white;
    float: right;
    margin: 0px;
    font-size:20px;
}
div.c2{
    height:50%;
    padding-top:50px;
    padding-left:150px;
    border: solid 2px rgb(55,55,55);
}
div.c3{
    height:50%;
    padding-left:150px;
    border: solid 2px rgb(55,55,55);
}
div.c31{
    height:50px;
    width:50px;
    float: left;
    border: solid 2px rgb(55,55,55);
    
}
img.c2{
    height:40px;
    float: left;
    width:40px;
}
div.c4{
    height:50%;
    padding-top:50px;
    padding-right:150px;
    border: solid 2px rgb(55,55,55);
}
div.c5{
    height:50%;
    padding-right:150px;
    border: solid 2px rgb(55,55,55);
}
a.c2{
    float: right;
    color: white;
    text-decoration: none;
    font-size:20px;
}
p.c3{
    margin:0px;
    float: left;
}

