div.a {
    float: left;
    border: solid 2px black;
    height: 100px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}
div.a1 {
    float: left;
    border: solid 1px black;
    height: 98px;
    width: 5%;
    box-sizing: border-box;
}
div .a2{
    float: left;
    border: solid 3px black;
    height: 30px;
    width: 10%;
    box-sizing: border-box;
}
div.a2a1{
    float: left;
    border: solid 3px black;
    height: 30px;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
}
div .a3{
    float: left;
    border: solid 3px black;
    height: 98px;
    width: 10%;
    box-sizing: border-box;
}
div.a4{
    float: left;
    border: solid 3px black;
    height:98px;
    width: 10%;
    box-sizing: border-box;
}
div.b{
    float:left;
    border: solid 3px black;
    height: 300px;
    margin: 0px 40px 20px 200px;
    width: 100%;
    box-sizing: border-box;
}
div.b1{
    float:left;
    border: solid 3px black;
    height: 298px;
    width: 20%;
    box-sizing: border-box;
}
div.b1a{
    float:left;
    border: solid 3px black;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
}
div.b1b{
    float:left;
    border: solid 3px black;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
}
div.b1c{
    float:left;
    border: solid 3px black;
    height: 196px;
    width: 100%;
    box-sizing: border-box;
}
div.b2{
    float:left;
    border: solid 3px black;
    height: 298px;
    width: 50%;
    box-sizing: border-box;
}
div.c{
    float:left;
    border: solid 3px black;
    height: 300px;
    margin: 20px 40px 10px 580px;
    width: 100%;
    box-sizing: border-box;
}
div.d{
    float: left;
    border: solid 3px black;
    height: 150px;
    width: 100%;
    margin: 60px 40px 20px 0px;
    
    box-sizing: border-box;
}

